<!DOCTYPE html>
<html>
<head>
  <title>HoraprodutivaExperiments</title>
  <%= stylesheet_link_tag    "application", "token-input", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.tokeninput" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
